<div class="card mb-5 mb-xl-8 settings">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Settings</span>
    </h3>
    <div class="card-toolbar">
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <form
      [formGroup]="updateSettingFormGroup"
      (ngSubmit)="update()"
      class="settings-modal"
    >
      <div class="mb-3 row">
        <div class="col">
          <label for="selectedHourOfDailyEmailSendToDriversWithTenderedLoads" class="col-sm-12 col-form-label"><strong>Select hour to send daily email to drivers with tendered loads *</strong></label>
          <div class="col-sm-12">
            <select formControlName="selectedHourOfDailyEmailSendToDriversWithTenderedLoads" id="selectedHourOfDailyEmailSendToDriversWithTenderedLoads" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
              <option selected>select hour</option>
              <option value="0">00</option>
              <option value="1">01</option>
              <option value="2">02</option>
              <option value="3">03</option>
              <option value="4">04</option>
              <option value="5">05</option>
              <option value="6">06</option>
              <option value="7">07</option>
              <option value="8">08</option>
              <option value="9">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
            </select>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col">
          <button type="submit" class="btn btn-outline-dark btn btn-primary" [disabled]="updateSettingFormGroup.invalid">Update</button>
        </div>
        <div class="col">
        </div>
      </div>
    </form>
  </div>
</div>
